{
    "extends": "airbnb-base",
    "rules": {
        "no-var": 0,
        "no-undef": 0,
        "indent": 0,
        "new-cap": 0,
        "import/newline-after-import": 0,
        "max-len": ["error", 120, 2, {
            "ignoreUrls": true,
            "ignoreComments": false,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
}
